@{
    ViewBag.Title = "Home Page";
}
<script type="text/javascript">
    var can, ctx, addAngle, addScale, step, steps = 200,
        delay = 20;

    function init() {
        can = document.getElementById("CanvasDiv");
        ctx = can.getContext("2d");
        ctx.fillStyle = "white";
        ctx.font = "80pt Times New Roman";
        ctx.textAlign = "center";
        ctx.textBaseline = "middle";
        addAngle = Math.PI * 4 / steps;
        addScale = 1 / steps;
        step = 0;
        RotateTextSphere()
    }

    function RotateTextSphere() {
        step++;
        //set it to be empty - reset
        ctx.clearRect(0, 0, can.width, can.height);
        ctx.save();
        //understand the proportion of the rectangle to move in it
        ctx.translate(can.width / 2, can.height / 2);
        //multiply scle by step to movement
        ctx.scale(addScale * step, addScale * step);
        //move in the circleby angle and distance
        ctx.rotate(addAngle * step);
        ctx.fillText("Get A Dog", 0, 0);
        ctx.restore();
        //timeout the animation
        if (step < steps)
            var t = setTimeout('RotateTextSphere()', 15);
    }

    //second canvas
    var c = document.getElementById('imageCanvas');
    var ctx = c.getContext('2d');
    var img = document.createElement('img');
    img.src = '~/img/dog_canvas';
    var pat = ctx.createPattern(img, 'repeat-x');
    ctx.rect(0, 0, 150, 100);
    ctx.fillStyle = pat;
    ctx.fill();
     /*
               ......                  .............
            .....;;...                ................
         .......;;;;;/mmmmmmmmmmmmmm\/..................
       ........;;;mmmmmmmmmmmmmmmmmmm.....................
     .........;;m/;;;;\mmmmmm/;;;;;\m......................
  ..........;;;m;;mmmm;;mmmm;;mmmmm;;m......................
..........;;;;;mmmnnnmmmmmmmmmmnnnmmmm\....................
.........  ;;;;;n/#####\nmmmmn/#####\nmm\.................
.......     ;;;;n##...##nmmmmn##...##nmmmm\.............
....        ;;;n#.....|nmmmmn#.....#nmmmmm,l.........
 ..          mmmn\.../nmmmmmmn\.../nmmmm,m,lll.....
          /mmmmmmmmmmmmmmmmmmmmmmmmmmm,mmmm,llll..
      /mmmmmmmmmmmmmmmmmmmmmmm\nmmmn/mmmmmmm,lll/
   /mmmmm/..........\mmmmmmmmmmnnmnnmmmmmmmmm,ll
  mmmmmm|...........|mmmmmmmmmmmmmmmmmmmmmmmm,ll
  \mmmmmmm\......./mmmmmmmmmmmmmmmmmmmmmmmmm,llo
    \mmmmmmm\.../mmmmmmmmmmmmmmmmmmmmmmmmmm,lloo
      \mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm,ll/oooo
         \mmmmmmmmmmll..;;;.;;;;;;/mmm,lll/oooooo\
                   ll..;;;.;;;;;;/llllll/ooooooooo
                   ll.;;;.;;;;;/.llll/oooooooooo..o
                   ll;;;.;;;;;;..ll/ooooooooooo...oo
                   \;;;;.;;;;;..ll/ooooo...ooooo..oo\
                 ;;;;;;;;;;;;..ll|oooo.....oooooooooo
                ;;;;;;.;;;;;;.ll/oooo.....ooooooo....\
                ;;;;;.;;;;;;;ll/ooooooooooooo.....oooo
                 \;;;.;;;;;;/oooooooooooo.....oooooooo\
                  \;;;.;;;;/ooooooooo.....ooooooooooooo
                    \;;;;/ooooooo.....ooooooooooo...ooo\
                    |o\;/oooo.....ooooooooooooo......ooo
                    oooooo....ooooooooooooooooooo.....oo\
                   oooo....oooooooooooooooooooooooo..oooo
                  ___.oooooooooooooo....ooooooooooooooooo\
                 /XXX\oooooooooooo.....ooooooooooooooooooo
                 |XXX|ooooo.oooooo....ooooooooooooooooooooo
               /oo\X/oooo..ooooooooooooooooooo..oooooooooooo
             /ooooooo..ooooo..oooooooooooooo.....ooooooooo...
           /ooooo...ooooo.....oooooooooooo.......ooooooo.....o
             */
                    
</script>
<script>
    function draw() {

        var c = document.getElementById("imageCanvas");
        var ctx = c.getContext("2d");
        //set it to be empty - reset
        ctx.clearRect(0, 0, c.width, c.height);
        var img = document.getElementById("dog")
        var pat = ctx.createPattern(img, 'repeat-x');
        ctx.rect(0, 0, 600, 600);
        ctx.fillStyle = pat;
        ctx.fill();
    }
</script>
<body onload="init();">
    <div class="subdiv" style="background-color: #ff6666;">
        <canvas id="CanvasDiv" width="600" height="300"></canvas>
    </div>
</body>


<div class="row">
    @try
    {
        if ((Session["Role"].ToString() == "Giver"))
        {
            @Html.ActionLink("MyComments", "Search", "Comments")

        }
    }
    catch
    {

    }

    @if (Session.Count != 0)
    {
        <div id="machineLearning">
            <div id="PieChartSection">
                <h3>Recommended Dogs: </h3>
            </div>

            <script src=@Url.Content("~/Scripts/Charts/d3.js")></script>
            <script src="~/Scripts/jquery-3.3.1.js"></script>
            <script src=@Url.Content("~/Scripts/Charts/PieChart_ML.js")></script>

        </div>
    }

</div>
<div>
    <br /><br />
    <button style="height:30px;width:150px" onclick="draw()">need convincing?</button>
    <br /><br />
    <img src="~/img/puppy_eyes.jpg" id="dog" width="0" height="0">
    <canvas id="imageCanvas" width="600" height="600"></canvas>
</div>

