@{
                /**/

                ViewData["Title"] = "Login";
                var invalid_login_message = TempData["login-failure"] == null ? null : "<p class=login-failure>Your email or password is incorrect.Please check your email or password and try again.</p>";
}

<br><br><br>

<div class="signup-form">
    <form asp-action="Login" method="post">
        <h2>Login</h2>
        <p class="hint-text">Login to your existing account</p>
        @Html.Raw(@invalid_login_message)

        <div class="form-group">
            <input type="email" class="form-control" name="email" placeholder="Email" required="required">
        </div>

        <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Password" required="required">
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-success btn-lg btn-block">Log In</button>
        </div>
    </form>
</div>

