
@{
    ViewBag.Title = "Index";
}

<h2>Training</h2>

<div id="mainContent">

    <h2>Train your dog by yourself</h2>

    <p>
        <div id="player" style="height: 300px; width: 80%;"></div>
    </p>

    <p>
        <div id="player2" style="height: 300px; width: 80%;"></div>
    </p>

    <script src='@Url.Content("~/Scripts/Youtube/Youtube.js")'></script>
</div>

