
@{
    ViewBag.Title = "Index";
}

<h2>Adopting</h2>

<div id="mainContent">

    <h2>Reasons why you should adopt a dog:</h2>

    <p>
        <div id="player" style="height: 300px; width: 80%;"></div>
    </p>

    <script src='@Url.Content("~/Scripts/Adopting/YouTube.js")'></script>
</div>

