@Styles.Render("~/Style/Adopting.css")

@{
    ViewBag.Title = "Index";
}

<h2 class="title">You Should Adopt</h2>

<div id="mainContent">

    <h2>Reasons why you should adopt a dog:</h2>

    <p>
        <div id="player" style="height: 300px; width: 80%;"></div>
    </p>

    <script src='@Url.Content("~/Scripts/Adopting/YouTube.js")'></script>

</div>

<div class="fb-share-button" data-href="https://www.youtube.com/watch?v=kk57tfBUoJo" data-layout="button_count" data-size="small"></div>

<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=1396861977224095";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<br />
<br />
<br />
<h2 class="transition">Do you want to see more?</h2>
<video width="600" height="600" controls>
    <source src="~/img/cute_dogs.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>

<p>
    <div class="newspapper">
        החלטתם להרחיב את המשפחה ולהביא חבר על ארבע. מזל טוב!
        חלקכם יבחרו לאמץ כלב וחלק ניכר מהאוכלוסייה, באופן טבעי, בוחר לקנות כלב.
        אם אתם בין אלו שמתלבטים בין קנייה לאימוץ, במאמר הבא ננסה לרכז עבורכם מידע, טיפים ומספר סיבות מדוע כדאי לאמץ חבר על ארבע.

        ישנו מספר רב של כלבים קיימים - כלבים שהינם כבר כאן בינינו, משוטטים ברחוב, ננטשים, גורים שנולדים בהסגר ובכלבייה, כלבים שאין להם בית כי אבדו ללא שבב וכדומה.
        רוב הכלבים הללו יגיעו לחסות של עמותה. עמותה שתפקידה ללמוד את אופי הכלב , לסנן משפחות ולהגיע להתאמה מרבית ככל הניתן בין אופי המאמץ ואופי הכלב כדי למזער ככל הניתן החזרת הכלב מהבית המאמץ לכלוב. כל זאת כמובן בהתנדבות מלאה!
        מרפאתנו משתפת פעולה עם עמותת SOS  חיות, אנו מעודדים אימוצים לצד העמותה שמספקת סל אימוץ נוח ככל הניתן,  במטרה לבוא לקראת משפחות מאמצות בין אם מדובר בשיתוף פעולה במחירי מתן חיסונים ובין אם מדובר בעיקור וסירוס מוזל.
        הכלבים הללו כל כך משתוקקים לבית החם שמגיע להם והם יהיו אסירי תודה לנצח, ואתם, הבעלים החדשים תזכו לקשר מיוחד חם ואוהב לשארית חייהם.

        כמובן שהליך האימוץ זול יותר מהליך קניית כלב משמעותית.
        במעמד האימוץ אתם מקבלים "סל אימוץ" שמשמעותו חבילת חיסונים להם זקוק הגור בנוסף לעיקור\סירוס בגיל חצי שנה במחיר מוזל משמעותית מאשר באופן פרטי אצל וטרינר.
        רוב הכלבים לקניה הינם כלבים דמוי גזעיים – כלבים מאותו הזן שזווגו באופן פרטי ללא פיקוח ולכן אין שליטה בפגמים גנטיים שיכולים לצוץ עקב זיווג זה או מעקב אחרי התנאים בהם נמצאת הנקבה. מיעוטם מגיע מבית גידול, כאשר התשלום ניתן עבור הגור ותעודות. מדובר בסכומים גדולים שאינם כוללים את הטיפול והחיסונים להם גור זקוק, כך שתעמוד בפניכם הוצאה של כמה מאות שקלים נוספים.

        לפי הסטטיסטיקה כ-100,000 אלף כלבים בריאים חסרי בית מומתים כל שנה.
        כלבים אלו מומתים מפאת חוסר מקום\כסף לאוכל וטיפולים וקורת גג זמנית עבורם.
        בארץ ישנו מספר רב של עמותות שאינן ממיתות ומצילות חיים על בסיס יומיומי.
        אימוץ מעמותה\כלביה שאינה ממיתה מזכה עוד כלב בחיים טובים ומפנה מקום לכלב נוסף שניתן יהיה להציל.

        במידה והחלטתם לאמץ, רגע לפני הביקור בבית המחסה, חשבו מהי ההחלטה הטובה ביותר עבורכם. רובנו נתפתה לאמץ גור קטנטן וחמוד אך הרבה אנשים לא לוקחים בחשבון את ההשלכות לכך. כלב בוגר דורש פחות השגחה, מגיע עם אופי מעוצב, דורש פחות אימון אילוף ומשחק.
        במידה ואתם אנשים שעובדים סביב השעון וזמן הינו מגבלה עבורכם, או אם אתם אנשים מבוגרים או מאמצים כלב ראשון ללא ניסיון קודם עם גורים שקלו לאמץ כלב בוגר.
        וזכרו, כלבים בוגרים ושחורים הינם האחרונים למצוא בית.
    </div>
</p>