@Styles.Render("~/Style/Weather.css")
@{
    ViewBag.Title = "Weather";
}

<h1>Weather</h1>

<div id="mainContent">

    <h2>Is it a good day to take your dog for a walk?</h2>

    @{
        string Dest = null;
        try
        {
            Dest = Session["Address"].ToString();
        }
        catch
        {
            Response.Redirect("~/HOME/Index");
        }
    }
    <iframe src="http://api.openweathermap.org/data/2.5/weather?q=@Dest&units=metric&mode=html&appid=a79bd08c5d0384ebc498be5b9b3b8270" style="float: left;" frameborder="0"></iframe>



</div>
<aside>
    <h4><strong>pay attention</strong></h4>
    <p>The website dosent take responsobilty on the weather data.</p>
    <p>thank you for understanding</p>
</aside>


