
@{
    ViewBag.Title = "Weather";
}

<h2>Weather</h2>

<div id="mainContent">

    <h2>Is it a good day to take your dog for a walk?</h2>

    @{
        //string Dest = Session["Adress"].ToString();
        string Dest = Session["Address"].ToString();
    }
    <iframe src="http://api.openweathermap.org/data/2.5/weather?q=@Dest&units=metric&mode=html&appid=a79bd08c5d0384ebc498be5b9b3b8270" style="float: left;" frameborder="0"></iframe>



</div>
