.login-panel {
    border-color: gray;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    padding: 25px;
    margin-top: 25px;
}

.title {
    padding-bottom: 10px;
}

.warning {
    color: red;
    padding: 2px;
}

.submit {
    margin: 0 auto;
}

.form-content {
    display: flex;
    flex-direction: row;
    max-width: 60%;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
}

.td {
    padding: 3px;
    text-align: center;
}
