@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 700;
    src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/PRmiXeptR36kaC0GEAetxjqR_3kx9_hJXbbyU8S6IN0.woff) format('woff');
}

h2 {
    font-family:'Open Sans';
    font-style:italic;
}

h1 {
    color: darkgreen;
    font: italic bold Georgia, Serif;
    text-shadow: -4px -4px 2px rgba(150, 150, 150, 1);
    text-align: center;
    padding: 20px;
}

iframe {
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 12px;
    width:200%;
    height:200%;
}


